
body {
  background-color: rgb(173, 173, 173);
}
h1 {
  
  background-color: rgb(52, 56, 63);
  text-align: right;
  font-family: cursive;
  
}
.container {
  max-width: 1172px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: right;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


nav ul li {
display: flex;
  /* margin-bottom: 90; */
  background-color: rgb(19, 39, 39);
  flex-direction: row;
/* background-color: blue; */
}
h2{
  border-right-width: 10px }

p{
  text-align: left;
}

.content {
  border-right: 4px solid
}
#navbar-item {
  justify-content: center;
  align-items: center;
  text-align:center
}
box {
  height: 100px;
  margin: 5px;
  padding: 5px;
}

#profile_image {
  border-radius: 25px 25px 25px 25px;
}

.contact {
  display: flex;
  justify-content:center;
}

h4 {
  text-align:center;

}
a {
  text-align: center;
}
